Q-1:Read and show the properties of dataset "iris_data_with_missing_values.csv"

In [163]:
import numpy as np
import pandas as pd
import numbers

In [164]:
#Solution to Q-1
df = pd.read_csv("iris_data_with_missing_values.csv",
                   header = None,
                   names = ["Sepal length", "Sepal width", "Petal length", "Petal width", "Class"])
print(df)

     Sepal length  Sepal width  Petal length  Petal width           Class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          NaN           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

Q-2: Print first 20 rows of the dataset.

In [165]:
#Solution to Q-2
print(df.head(20))

    Sepal length  Sepal width  Petal length  Petal width        Class
0            5.1          3.5           1.4          0.2  Iris-setosa
1            4.9          3.0           1.4          0.2  Iris-setosa
2            4.7          3.2           1.3          0.2  Iris-setosa
3            4.6          3.1           1.5          0.2  Iris-setosa
4            5.0          3.6           1.4          0.2  Iris-setosa
5            5.4          3.9           1.7          0.4  Iris-setosa
6            4.6          3.4           1.4          0.3  Iris-setosa
7            5.0          3.4          10.0          0.2  Iris-setosa
8            4.4          2.9           1.4          0.2  Iris-setosa
9            4.9          3.1           1.5          0.1  Iris-setosa
10           5.4          3.7           1.5          0.2  Iris-setosa
11           4.8          3.4           1.6          0.2  Iris-setosa
12           4.8          3.0           1.4          0.1  Iris-setosa
13           4.3          3.0           1.1          0.1  Iris-setosa
14           5.8          4.0           1.2          0.2  Iris-setosa
15           5.7          NaN           1.5          0.4  Iris-setosa
16           5.4          3.9           1.3          0.4  Iris-setosa
17           5.1          3.5           1.4          0.3  Iris-setosa
18           5.7          3.8           1.7          0.3  Iris-setosa
19           5.1          3.8           1.5          0.3  Iris-setosa

Q-3: Find the number of zeros in all the columns.

In [166]:
#Solution to Q-3
arr = df.to_numpy()

# by zeros, I am assuming actual numeric zeros
# total number of elements - number of non-zero elements
# gives number of zero elements
print(arr.size - np.count_nonzero(arr))

0

Q-4: Find the number of null values in the dataset.

In [167]:
#Solution to Q-4
# column wise count of null values
print(df.isnull().sum())

# total count of null values
print(df.isnull().sum().sum())

Sepal length    3
Sepal width     3
Petal length    3
Petal width     2
Class           3
dtype: int64
14

Q-5: Replace the zeros with NAN values in selected attribute (say attribute 1 and 3)

In [168]:
#Solution to Q-5
# attribute 1: sepal length
df["Sepal length"] = df["Sepal length"].replace(0, np.nan)

# attribute 3: petal length
df["Petal length"] = df["Petal length"].replace(0, np.nan)

 Q-6: Find the number of rows having missing values.

In [169]:
#Solution to Q-6
count = 0
for i in range(len(df)):
    if df.loc[i, :].isnull().sum() > 0:
        count += 1
print(count)

13

Q-7: Discard the records with the missing values.

In [170]:
#Solution to Q-7

# I am creating a new dataframe
# to avoid deletion of rows in original dataframe
dfDrop = df
dfDrop = dfDrop.dropna()

 Q-8: Find the number of records after discarding null values.

In [171]:
#Solution to Q-8
print(len(dfDrop))

137

Q-9: Replace the missing value with the mean/median/mode as applicable.

In [172]:
#Solution to Q-9

# for replacement of numeric values with mean
dfMean = df
dfMean = dfMean.fillna(dfMean.mean())
dfMean = dfMean.dropna() # to drop records with missing categorical value

# for replacement of numeric values with median
dfMedian = df
dfMedian = dfMedian.fillna(dfMedian.median())
dfMedian = dfMedian.dropna() # to drop records with missing categorical value

# for replacement of numeric values with mode
# mode value should NOT be used in this case
# because NaN is the mode for several fields
dfMode = df
dfMode = dfMode.fillna(dfMode.mode())
dfMode = dfMode.dropna() # to drop records with missing categorical value